button {
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  margin: 0; }
  button[disabled] {
    cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.mbtn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 2px 12px 3px;
  font-size: 16px;
  line-height: 1.5em;
  border-radius: 0px;
  font-weight: 700;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  .mbtn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .mbtn:hover, .mbtn:focus {
    color: #333333;
    text-decoration: none; }
  .mbtn:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .mbtn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.violet {
  color: #7c40a2;
  border: 3px solid #7c40a2;
  background-color: #fff; }
  .violet:hover, .violet:focus {
    background-color: #7c40a2;
    color: #fff; }

.green {
  color: #35aa47;
  border: 3px solid #35aa47;
  background-color: #fff; }
  .green:hover, .green:focus {
    background-color: #35aa47;
    color: #fff; }

.blue {
  color: #4d90fe;
  border: 3px solid #4d90fe;
  background-color: #fff; }
  .blue:hover, .blue:focus {
    background-color: #4d90fe;
    color: #fff; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Source Sans Pro', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em; }

p {
  margin-bottom: 20px; }

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px; }

a {
  color: #4d90fe;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  a:hover {
    color: #01307e;
    text-decoration: none; }
  a:visited {
    color: #4d90fe;
    text-decoration: none; }

.wrapper {
  display: block;
  width: 740px;
  margin: 0 auto;
  *zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper.m-wrapper {
    margin: 40px auto; }
  .wrapper .t-center {
    text-align: center; }
  .wrapper .t-right {
    text-align: right; }
    .wrapper .t-right a.mbtns {
      margin-left: 6px; }

.methods {
  display: block;
  width: 440px;
  margin: 20px auto; }
  .methods ul li {
    list-style-type: none;
    padding: 6px 12px;
    cursor: default; }
    .methods ul li:hover {
      background-color: #eee; }
  .methods ul.second {
    margin-top: 5px; }
    .methods ul.second li {
      list-style-type: disc;
      margin-left: 20px;
      padding: 0px;
      background-color: transparent; }
      .methods ul.second li:hover {
        background-color: transparent; }
  .methods strong {
    font-weight: 700; }
    .methods strong.emph {
      color: #7c40a2; }

.header {
  text-align: center;
  margin: 40px auto 20px; }
  .header p {
    margin-bottom: 10px; }
  .header h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5em;
    margin-bottom: 10px; }
  .header .sub-head {
    line-height: inherit;
    font-size: 20px;
    margin-bottom: 30px; }

.left {
  float: right; }

pre.prettyprint {
  border-radius: 0px;
  padding: 0px;
  width: 100%;
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  line-height: 1.4em; }
