@import 'bourbon/bourbon';
@import 'buttons';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Source Sans Pro', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;  
  font-size: 16px;
  line-height: 1.5em;
}

p {
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;    
}  

a {
  color: #4d90fe;
  text-decoration: none;
  @include transition(all 0.2s ease-out);

  &:hover {
    color: darken(#4d90fe, 40%);
    text-decoration: none;
  }

  &:visited {
    color: #4d90fe;
    text-decoration: none;
  }
}

.wrapper {
  display: block;
  width: 740px;
  margin: 0 auto;

  @include clearfix;

  &.m-wrapper {
    margin: 40px auto;
  }

  .t-center {
    text-align: center;
  }

  .t-right {    
    text-align: right;

    a.mbtns {
      margin-left: 6px;
    }
  }
}

.methods {
  display: block;
  width: 440px;
  margin: 20px auto;

  ul {
    li {
      list-style-type: none;
      padding: 6px 12px;   
      cursor: default;

      &:hover {
        background-color: #eee;
      } 
    }
  }

  ul.second {
    margin-top: 5px;
    li {
      list-style-type: disc;
      margin-left: 20px;
      padding: 0px;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }

  strong {
    font-weight: 700;

    &.emph {   
      color: #7c40a2;
    }
  }  
}

.header {
  text-align: center;
  margin: 40px auto 20px;

  p {
    margin-bottom: 10px;
  }

  h1 {    
    font-weight: 400;
    font-size: 40px;     
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  .sub-head {
    line-height: inherit;
    font-size: 20px; 
    margin-bottom: 30px;
  }
}

.right {
  float: right;
}

pre.prettyprint {
  border-radius: 0px;
  padding: 0px;  
  width: 100%;
  font-family: Consolas, monaco, monospace;
  font-size: 12px;
  line-height: 1.4em;
}